<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Block Chain Home</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap\dist\css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  
    <div ng-app = 'myApp' ng-controller = 'MasterCtrl' class="container theme-showcase" role="main">
      <!-- Main jumbotron for block chain website -->
      <div class="jumbotron">
        <h1>Block Chain Explorer</h1>
        
		<p>Find your favourite block below!</p>
		
		<div class="form-group">
          <input type="text" ng-model="searchText" placeholder = "Search" class="form-control">
        
		</div>
      </div>

	  <div class="page-header">
        <h1>Blocks</h1>
		<button ng-click="previous()" class="btn btn-success">Previous</button>
      </div>
	  
	  <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Height</th>
                <th>Hash</th>
                <th>Transaction Index</th>
              </tr>
            </thead>
            <tbody data-link = "row" ng-repeat="block in blocks | filter: searchFilter">
              <tr>
                <td>{{block.height}}</td>
                <td><a href = "#/block/{{block.hash}}">{{block.hash}}</a></td>
                <td>{{block.block_index}}</td>
              </tr>
            </tbody>
          </table>
        </div>
	  
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap\dist\js/bootstrap.min.js"></script>
  </body>
</html>